@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto Mono";
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #2a2f3b;
	color: #fff;
}
.container {
	width: 400px;
	overflow: hidden;
}
.text-item {
	position: relative;
	font-size: 30px;
	font-weight: 300;
}
.first-text {
	padding-right: 15px;
	color: #fff;
}
.second-text {
	position: fixed;
	color: #00ff00;
}
.second-text::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background: #2a2f3b;
	height: 100%;
	width: 100%;
	animation: 4s steps(12) infinite Animation;
	border-left: 2px solid #00ff00;
}
@keyframes Animation {
	100% {
		left: 0;
	}
	40%, 60% {
		left: calc(100% + 4px);
	}
}